<div class="s-login-pg">
  <div class="s-login-pg-head">
    <div style="width:100px;"></div>
    <p style="text-align: center"> leetchat </p>
  </div>
  <form class="s-login-pg-form" name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
    <input type="text"     placeholder="Username (demo)" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
    <input type="password" placeholder="Password (demo)" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
    <!--<button type="submit" class="btn btn-primary">LOG IN</button>-->
    <button  type="submit" nz-button [nzType]="'primary'">登陆</button>
  </form>
  <div class="s-login-pg-foot">
    <div *ngIf="errMsg" style="color:indianred; font-weight: bold">{{errMsg}}</div>
  </div>

</div>
